@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";


:root {
  --font-roboto: "Roboto", sans-serif;
  --font-noto: "Noto Serif", serif;
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-noto: "Noto Serif", serif;
}

.sidebar {
  position: relative;
  top: 30rem;
}

.welcome-heading {
  letter-spacing: 5px;
}
.icon-phone {
  background-image: url("../assets/phone.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-email {
  background-image: url("../assets/email.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-discord {
  background-image: url("../assets/discord.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-facebook {
  background-image: url("../assets/facebook.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-github {
  background-image: url("../assets/github.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-instagram {
  background-image: url("../assets/instagram.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-linkedin {
  background-image: url("../assets/linkedin.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-other {
  background-image: url("../assets/other.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-shadow {
  box-shadow: 0 -4px 8px -2px rgba(0,0,0,0.15);
}

.meteor-bg {
  background-image: url("../assets/meteor-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wave-bg {
  background-image: url("../assets/wave-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}